Repository Commencis/js-toolkit, pull requests merged in 2024-09, with the labels that each got.

#21 feat(stylelint-config): rule improvements
  packages/stylelint-config/src/rules/cssRules.ts
  packages/stylelint-config/src/rules/orderRules.ts
  packages/stylelint-config/src/rules/scssRules.ts
Labels: stylelint-config

#22 release(stylelint-config): v1.1.0
  packages/stylelint-config/package.json
Labels: release, stylelint-config

#41 feat(eslint-plugin): add vue support to copyright-text rule
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/constants/copyright.ts
  packages/eslint-plugin/src/rules/copyright-text.ts
  packages/eslint-plugin/src/utils/getCopyrightText.ts
Labels: eslint-plugin

#42 release(eslint-plugin): v1.0.2
  packages/eslint-plugin/package.json
Labels: eslint-plugin, release

#43 feat(deps): update dependencies & eslint related issues
  .nvmrc
  README.md
  package.json
  packages/commitlint-config/package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/configs/next.ts
  packages/eslint-config/src/configs/react-native.ts
  packages/eslint-config/src/configs/react.ts
  packages/eslint-config/src/plugins/index.ts
  packages/eslint-config/src/plugins/jsxA11yPlugin.ts
  packages/eslint-config/src/plugins/reactPlugin.ts
  packages/eslint-config/src/types/flatConfig.ts
  packages/eslint-plugin/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Labels: eslint-config, dependencies

#49 feat(eslint-config): add new react & typescript rules
  packages/eslint-config/src/rules/reactRules.ts
  packages/eslint-config/src/rules/typescriptRules.ts
Labels: eslint-config
